*{
  outline: none;
}
body{
    overflow: hidden;
  }
  #editor{
      position: absolute;
      top: 0;
      left: 0;
      margin: 10px;
      width: calc(98.5% - 20px);
      height: calc(97.2% - 20px);
      background-color: rgb(255, 255, 255);
      border-radius: 5px;
      padding: 10px;
      box-shadow: 2px 2px 10px #d6d6d6;
    }
    
div#tooltip {
    position: fixed;
    background: rgba(255, 255, 255, 0.98);
    padding: 7px 10px;
    color: #333;
    border-radius: 21px;
    border: 1px solid rgb(219, 219, 219);
    box-shadow: 2px 2px 10px 2px rgba(200, 200, 200, 0.3);
    font-size: 15px;
    user-select: none;
    transition: all ease 0.5s;
    z-index: 99;
}
div#tooltip:before{
    content: '';
    position: absolute;
    left: 30px;
    top: -20px;
    border: 10px solid;
    border-color:transparent transparent rgba(255, 255, 255, 0.98) transparent;
}
div#tooltip .toolElem{
    position: relative;
    box-sizing: border-box;
    padding: 6px 10px;
    margin: -2px;
    border-radius: 5px;
    cursor: pointer;
}
div#tooltip .toolElem:hover{
    background-color: rgba(211, 211, 211, 0.7);
}
div#tooltip>.toolElem:last-child{
    margin-left: 3px;
    margin-right: -10px;
    padding: 7px 11px;
    border-radius:0px 21px 21px 0px ;
}
div#tooltip>.toolElem:last-child:before{
    content: '';
    position: absolute;
    width: 20px;
    right: 20px;
    top: 15px;
    border-radius: 5px;
    border: 1px solid rgb(219, 219, 219);
    transform: rotate(90deg);
}


